body {
  margin: 0;
  font-family: "Times New Roman", arial, serif; }

a {
  text-decoration: none; }

img {
  box-shadow: 1px 1px 12px #d5d7eb; }

header {
  border: solid 1px #43a047;
  background-color: #43a047; }

header h1 {
  font-family: 'amblebold', sans-serif;
  color: #fdd835;
  font-size: 60px;
  text-align: center;
  margin: 25px; }

.first_line {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }

.first_menu:hover {
  -webkit-animation: tremblements1 0.5s linear infinite; }

.second_menu:hover {
  -webkit-animation: tremblements2 0.5s linear infinite; }

.second_line {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 25px; }

.third_menu:hover {
  -webkit-animation: tremblements3 0.5s linear infinite; }

.fourth_menu:hover {
  -webkit-animation: tremblements4 0.5s linear infinite; }

.shortly {
  width: 30%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #43a047;
  border: solid 1px #43a047;
  border-radius: 13px; }

.shortly p {
  color: #fdd835;
  font-weight: bold;
  font-size: 35px;
  margin: 0 auto;
  width: 65%;
  overflow: hidden;
  -webkit-animation: ecriture 3s infinite steps(13);
  animation: ecriture 3s infinite steps(13); }

footer {
  background-color: #43a047;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px; }

.notice {
  margin-left: 15px;
  padding: -20px;
  color: #fdd835; }
  .notice p {
    margin: 0; }

.contact {
  margin-right: 15px;
  height: auto;
  color: #fdd835; }
  .contact p {
    margin: 0; }

@media screen and (max-width: 767px) and (orientation: portrait) {
  img {
    max-width: 50%;
    height: auto; }

  header h1 {
    font-size: 35px; }

  .first_line {
    flex-direction: column;
    margin-top: 30px; }

  .first_menu {
    text-align: center; }

  .second_menu {
    margin-top: 30px;
    text-align: center; }

  .second_line {
    flex-direction: column;
    margin-top: 30px; }

  .third_menu {
    text-align: center; }

  .fourth_menu {
    margin-top: 30px;
    text-align: center; }

  .shortly {
    width: 60%; }

  .shortly p {
    font-size: 25px;
    width: 100%;
    -webkit-animation: mobile 4s infinite steps(13); }

  footer {
    font-size: 18px; } }
@media screen and (min-width: 768px) and (orientation: portrait) {
  .shortly {
    width: 35%; }

  .shortly p {
    -webkit-animation: tablette 4s infinite steps(13); } }
@media screen and (max-width: 960px) and (orientation: landscape) {
  img {
    max-width: 70%;
    height: auto; }

  header h1 {
    font-size: 45px; }

  .first_menu {
    text-align: center; }

  .second_menu {
    text-align: center; }

  .third_menu {
    text-align: center; }

  .fourth_menu {
    text-align: center; }

  .shortly {
    width: 35%; }

  .shortly p {
    font-size: 25px;
    width: 100%;
    -webkit-animation: paysage 4s infinite steps(13); }

  footer {
    font-size: 18px; } }
@media screen and (min-width: 962px) and (orientation: landscape) {
  .shortly p {
    -webkit-animation: tablette 4s infinite steps(13); } }
@-webkit-keyframes tremblements1 {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(8px); }
  100% {
    transform: translateX(-8px); } }
@-webkit-keyframes tremblements2 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(-3deg); } }
@-webkit-keyframes tremblements3 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes tremblements4 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(8px); }
  100% {
    transform: translateY(-8px); } }
@-webkit-keyframes ecriture {
  from {
    width: 0%; }
  to {
    width: 65%; } }
@-webkit-keyframes mobile {
  from {
    width: 0px; }
  to {
    width: 180px; } }
@-webkit-keyframes tablette {
  from {
    width: 0px; }
  to {
    width: 250px; } }
@-webkit-keyframes paysage {
  from {
    width: 0px; }
  to {
    width: 180px; } }
@-webkit-keyframes big {
  from {
    width: 0px; }
  to {
    width: 250px; } }
@font-face {
  font-family: 'amblebold';
  src: url("../../fonts/Amble-Bold-webfont.eot");
  src: url("../../fonts/Amble-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Amble-Bold-webfont.woff2") format("woff2"), url("../../fonts/Amble-Bold-webfont.woff") format("woff"), url("../../fonts/Amble-Bold-webfont.ttf") format("truetype"), url("../../fonts/Amble-Bold-webfont.svg#amblebold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=style_index.css.map */
