body {
  margin: 0;
  font-family: "Times New Roman", arial, serif; }

.index {
  text-decoration: none; }

header {
  border: solid 1px #43a047;
  background-color: #43a047; }

header h1 {
  font-family: 'amblebold', sans-serif;
  color: #fdd835;
  font-size: 60px;
  text-align: center;
  margin: 25px; }

.first_line {
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }

.first_menu {
  border: solid 2px black; }
  .first_menu:hover {
    -webkit-animation: tremblements1 0.5s linear infinite; }

.second_menu {
  border: solid 2px black; }
  .second_menu:hover {
    -webkit-animation: tremblements2 0.5s linear infinite; }

.second_line {
  border: solid 2px black;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 25px; }

.third_menu {
  border: solid 2px black; }
  .third_menu:hover {
    -webkit-animation: tremblements3 0.5s linear infinite; }

.fourth_menu {
  border: solid 2px black; }
  .fourth_menu:hover {
    -webkit-animation: tremblements4 0.5s linear infinite; }

.shortly {
  border: solid 2px black;
  width: 30%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #43a047;
  border: solid 1px #43a047;
  border-radius: 13px; }

.shortly p {
  border: solid 2px black;
  color: #fdd835;
  font-weight: bold;
  font-size: 35px;
  margin: 0 auto;
  width: 61%;
  overflow: hidden;
  -webkit-animation: ecriture 3s steps(13); }

footer {
  border: solid 2px black;
  background-color: #43a047;
  display: flex;
  justify-content: space-between;
  color: #fdd835;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px; }

.notice {
  border: solid 2px black;
  margin-left: 15px;
  padding: -20px; }
  .notice p {
    border: solid 2px black;
    margin: 0; }

.contact {
  border: solid 2px black;
  margin-right: 15px;
  height: auto; }
  .contact p {
    border: solid 2px black;
    margin: 0; }

@-webkit-keyframes tremblements1 {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(8px); }
  100% {
    transform: translateX(-8px); } }
@-webkit-keyframes tremblements2 {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(-3deg); } }
@-webkit-keyframes tremblements3 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes tremblements4 {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(8px); }
  100% {
    transform: translateY(-8px); } }
@-webkit-keyframes ecriture {
  from {
    width: 0%; }
  to {
    width: 61%; } }
@font-face {
  font-family: 'amblebold';
  src: url("../../fonts/Amble-Bold-webfont.eot");
  src: url("../../fonts/Amble-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Amble-Bold-webfont.woff2") format("woff2"), url("../../fonts/Amble-Bold-webfont.woff") format("woff"), url("../../fonts/Amble-Bold-webfont.ttf") format("truetype"), url("../../fonts/Amble-Bold-webfont.svg#amblebold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=style_index.css.map */
