/*----------------------------------------------------Version classique-----------------------------------------------------------*/

body {
    margin: 0;
    font-family: "Times New Roman", arial, serif;
}

.page {
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.site-content {
	flex: 1;
}

a {
    text-decoration: none;
    color: rgba(253,216,53 ,1);
}

img {
    box-shadow: 1px 1px 12px rgba(213, 215, 235, 1);
}

header {
    border: solid 1px rgba(67,160,71 ,1);
    background-color: rgba(67,160,71 ,1);
}

header h1 {
    font-family: 'amblebold', sans-serif;
    color: rgba(253,216,53 ,1);
    font-size: 60px;
    text-align: center;
    margin: 25px;
}

.first_line {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.first_menu:hover {
    -webkit-animation: tremblements1 0.5s linear infinite;
    animation: tremblements1 0.5s linear infinite;
}

.second_menu:hover {
    -webkit-animation: tremblements2 0.5s linear infinite;
    animation: tremblements2 0.5s linear infinite;
}

.second_line {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 25px;
}

.third_menu:hover { 
    -webkit-animation: tremblements3 0.5s linear infinite;
    animation: tremblements3 0.5s linear infinite;
}

.fourth_menu:hover {
    -webkit-animation: tremblements4 0.5s linear infinite;
    animation: tremblements4 0.5s linear infinite;
}

.shortly {
    width: 30%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(67,160,71 ,1);
    border: solid 1px rgba(67,160,71 ,1);
    border-radius: 13px;
    margin-bottom: 100px;
}

.shortly p {
    color: rgba(253,216,53 ,1);
    font-weight: bold;
    font-size: 35px;
    margin: auto; 
    width: 65%;
    overflow: hidden;
    -webkit-animation: ecriture 3s infinite steps(13);
    animation: ecriture 3s infinite steps(13);
}

footer {
    background-color: rgba(67,160,71 ,1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.notice {
    margin-left: 15px;
    color: rgba(253,216,53 ,1);
}

.notice p { 
    margin: 0;
}

.contact {
    margin-right: 15px;
    height: auto;
    color: rgba(253,216,53 ,1);
}

.contact p { 
    margin: 0;
}

/*---------------------------------------Version mobile moins de 767px mode portrait----------------------------------------------------*/

@media screen and (max-width: 767px) and (orientation: portrait)

{
    img {
        max-width: 55%;
        height: auto;
    }

    header h1 {
        font-size: 30px;
        margin: 15px;
    }

    .first_line {
        flex-direction: column;
        margin-top: 30px;
    }

    .first_menu {
        text-align: center;
    }

    .second_menu {
        margin-top: 30px;
        text-align: center;
    }

    .second_line {
        flex-direction: column;
        margin-top: 30px;
    }

    .third_menu {
        text-align: center;
    }

    .fourth_menu {
        margin-top: 30px;
        text-align: center;
    }

    .shortly {
        width: 65%;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .shortly p {
        font-size: 25px;
        width: 100%;
        -webkit-animation: mobile 4s infinite steps(13);
        animation: mobile 4s infinite steps(13);
    }

    footer {
        font-size: 20px;
    }
}

/*---------------------------------------Version tablette plus de 768px mode portrait----------------------------------------------------*/

@media screen and (min-width: 768px) and (orientation: portrait)

{
    img {
        max-width: 70%;
        height: auto;
    }

    header h1 {
        font-size: 40px;
    }

    .first_menu {
        text-align: center;
        margin-left: 55px;
    }

    .second_menu {
        text-align: center;
        margin-right: 55px;
    }

    .third_menu {
        text-align: center;
        margin-left: 55px;
    }

    .fourth_menu {
        text-align: center;
        margin-right: 55px;
    }

    .shortly {
        width: 42%;
    }

    .shortly p {
        font-size: 30px;
        width: 100%;
        -webkit-animation: tablette 4s infinite steps(13);
        animation: tablette 4s infinite steps(13);
    }

    footer {
        font-size: 25px;
    }
}

/*---------------------------------------Version mobile moins de 960px mode paysage----------------------------------------------------*/

@media screen and (max-width: 960px) and (orientation: landscape)

{
    img {
        max-width: 70%;
        height: auto;
    }

    header h1 {
        font-size: 45px;
    }

    .first_menu {
        text-align: center;
    }

    .second_menu {
        text-align: center;
    }

    .third_menu {
        text-align: center;
    }

    .fourth_menu {
        text-align: center;
    }

    .shortly {
        width: 45%;
    }

    .shortly p {
        font-size: 25px;
        width: 100%;
        -webkit-animation: paysage 4s infinite steps(13);
        animation: paysage 4s infinite steps(13);
    }

    footer {
        font-size: 22px;
    }
}

/*------------------------------------------Ecran entre 962px et 2500px mode paysage----------------------------------------------------*/

@media screen and (min-width: 962px) and (max-width: 2555px) and (orientation: landscape)

{
    img {
        max-width: 65%;
        height: auto;
    }

    header h1 {
        font-size: 45px;
    }

    .first_menu {
        text-align: center;
        margin-left: 55px;
    }

    .second_menu {
        text-align: center;
        margin-right: 55px;
    }

    .third_menu {
        text-align: center;
        margin-left: 55px;
    }

    .fourth_menu {
        text-align: center;
        margin-right: 55px;
    }

    .shortly {
        width: 38%;
    }

    .shortly p {
        font-size: 35px;
        width: 100%;
        -webkit-animation: pad_landscape 4s infinite steps(13);
        animation: pad_landscape 4s infinite steps(13);
    }

    footer {
        font-size: 30px;
    }
}

/*----------------------------------------------Ecran plus de 2559px mode paysage-------------------------------------------------------*/

@media screen and (min-width: 2559px) and (orientation: landscape)

{
    img {
        max-width: 65%;
        height: auto;
    }

    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header h1 {
        font-size: 90px;
    }

    .first_menu {
        text-align: center;
        margin-top: 30px;
        margin-left: 120px;
    }

    .second_menu {
        text-align: center;
        margin-top: 30px;
        margin-right: 120px;
    }

    .third_menu {
        text-align: center;
        margin-top: 30px;
        margin-left: 120px;
    }

    .fourth_menu {
        text-align: center;
        margin-top: 30px;
        margin-right: 120px;
    }

    .shortly {
        width: 30%;
        margin-top: 40px;
        margin-bottom: 170px;
    }

    .shortly p {
        font-size: 65px;
        width: 100%;
        -webkit-animation: big_laptop 5s infinite steps(13);
        animation: big_laptop 5s infinite steps(13);
    }

    footer {
        font-size: 55px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

/*----------------------------------------------------Animations pour tous les navigateurs-----------------------------------------------*/

@-webkit-keyframes tremblements1 
{
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(-8px);
    }
}

@keyframes tremblements1 
{
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(-8px);
    }
}

@-webkit-keyframes tremblements2 
{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@keyframes tremblements2 
{
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
}

@-webkit-keyframes tremblements3
{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes tremblements3
{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes tremblements4
{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-8px);
    }
}

@keyframes tremblements4
{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(-8px);
    }
}

@-webkit-keyframes ecriture 
{
    from {
        width: 0%;
    }

    to {
        width: 65%;
    }
}

@keyframes ecriture 
{
    from {
        width: 0%;
    }

    to {
        width: 65%;
    }
}

@-webkit-keyframes mobile
{
    from {
        width: 0px;
    }
    
    to {
        width: 180px;
    }
}

@keyframes mobile
{
    from {
        width: 0px;
    }
    
    to {
        width: 180px;
    }
}

@-webkit-keyframes tablette
{
    from {
        width: 0px;
    }
    
    to {
        width: 215px;
    }
}

@keyframes tablette
{
    from {
        width: 0px;
    }
    
    to {
        width: 215px;
    }
}

@-webkit-keyframes paysage
{
    from {
        width: 0px;
    }
    
    to {
        width: 180px;
    }
}

@keyframes paysage
{
    from {
        width: 0px;
    }
    
    to {
        width: 180px;
    }
}

@-webkit-keyframes big
{
    from {
        width: 0px;
    }
    
    to {
        width: 250px;
    }
}

@keyframes big
{
    from {
        width: 0px;
    }
    
    to {
        width: 250px;
    }
}

@-webkit-keyframes pad_landscape
{
    from {
        width: 0px;
    }
    
    to {
        width: 255px;
    }
}

@keyframes pad_landscape
{
    from {
        width: 0px;
    }
    
    to {
        width: 255px;
    }
}

@-webkit-keyframes big_laptop
{
    from {
        width: 0px;
    }
    
    to {
        width: 460px;
    }
}

@keyframes big_laptop
{
    from {
        width: 0px;
    }
    
    to {
        width: 460px;
    }
}

/*-------------------------------------------------------Police spécifique--------------------------------------------------------------*/

@font-face {
    font-family: 'amblebold';
    src: url('../../fonts/Amble-Bold-webfont.eot');
    src: url('../../fonts/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Amble-Bold-webfont.woff2') format('woff2'),
         url('../../fonts/Amble-Bold-webfont.woff') format('woff'),
         url('../../fonts/Amble-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/Amble-Bold-webfont.svg#amblebold') format('svg');
    font-weight: normal;
    font-style: normal;

}